.navbar{
   height:25vh ;
   background-color: aqua;
   padding-top:20px;
   padding-left: 20px;
   font-family: Arial, Helvetica, sans-serif;
}
.options {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap:60px;
  text-decoration: none;

}
.options li{
    cursor: pointer;
    text-decoration: none;
}
.options li input {
    width: 300px;          
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #555;
    outline: none;
}

